
    <h1>Ticketing System Sign In Page</h1>
    <!-- <ul>
        {% for flight in flights %}
            <li>
                <a href="{% url 'flight' flight.id %}">
                    Flight {{ flight.id }}: {{ flight.origin }} to {{ flight.destination }}
                </a>
            </li>
        {% endfor %}
    </ul> -->

    <input type="text" id="login" name="login" required
           size="10">
<br>
    <input type="text" id="password" name="password" required
        size="10">
<br>
    <input type="submit" value="Log in">
