
    <h1>Ticketing System Sign In Page</h1>
    <!-- <ul>
        {% for ticket in tickets %}
            <li>
                <a href="{% url 'ticket' ticket.id %}">
                    ticket {{ ticket.id }}: {{ ticket.origin }} to {{ ticket.destination }}
                </a>
            </li>
        {% endfor %}
    </ul> -->

    <input type="text" id="login" name="login" required
           size="10">
<br>
    <input type="text" id="password" name="password" required
        size="10">
<br>
    <input type="submit" value="Log in">
