html{
  height: 100%;
  margin: 0px;
}

.view{
  height: 100%;
  margin: 0px;
}

body{
font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, “Helvetica Neue”, Arial, sans-serif, “Apple Color Emoji”, “Segoe UI Emoji”, “Segoe UI Symbol”;
/* default is 1rem or 16px */
font-weight: 400px;
width: 100%;
height: 100%;
background-color:#f4f4f4;
margin: 0px;
}

.navbar
{
	text-align:center;
	font-size:1.5vw;
  background-color:#000000;
  line-height: 1.5px;
	top:0px;
  width:100%;
  padding: 20px;
}

.navbar a{
  font-size: 20px;
  color: #f4f4f4;
  width: 20%;
}

div.b{
  text-align: center;
  margin: 0px;
  width: 30%;
  height: 30%;
  margin-left: 35%;
} 

div.b1{
  text-align: center;
  margin: 0px;
  width: 30%;
  height: 30%;
  margin-left: 50px;
  padding-bottom: 50px  ;
} 



div.d{
  text-align: center;
  margin: auto;
  width: 30%;
  height: 30%;
  padding-bottom: 50px;
} 

div.b a{
  color: black;
}

div.c{
  margin-top: 150px;
}

h1{
 text-align: center;
}

#containerBody{
  width:100%;
  height: 100%;
  margin:0px;
  overflow:hidden;
  padding-right:15px;
  padding-left:15px;
	background-color:#000000;
}

#update{
  width: 100%;
  height: 100%;
}

#inputsForQuery{
  vertical-align: top;
  text-align: center;
  margin: auto;
  display: inline-block;
}

#ticketToEdit{
  table-layout: fixed;
  width: 100%;
  margin-left: 5%;
  padding: 10px;
}
#ticketToEditHeader{
  margin-left: 43.5%;
}

#ticketToEdit td{
  table-layout: fixed;
  border: 1px solid black;
  width: 12%;
  text-align: center;
  overflow: hidden;
}

div.tr{
  width: 400px;
}

#queryHeader{
  table-layout: fixed;
  border: 1px solid black;
  width: 100%;
}

#queryHeader th{
  table-layout: fixed;
  border: 1px solid black;
  width: 12%;
}

#update{
  table-layout: fixed;
  border-collapse: collapse;
  width: 100% !important;
  margin: 0%;
  padding: 0%;
}

#update tr{
  width: 100%;
  padding: 0%;
}

#update td{
  border: 1px solid black;
  width: 12%;
  text-align: center;
  overflow: auto;
  padding: 0%;
  margin: 0%;
}


#queryForm{
  width: 70%;
  text-align: center;
  margin: auto;
  padding: 15px;
}

#adminSignIn{
  margin: 0px;
}

#newTicketForm{
  text-align: center;
}

#newTicketForm.input{
  width: 50%;
}

#ticketsEdit{
  margin-left: 35%;
}

#ticketsEdit input{
  width: 50%;
}

#ticketsEdit #ticketStatus{
  width: 15%;
}

#newUserForm{
  margin-left: 35%;
}

#newUserForm input{
  width: 35%;
}

#searchBarQuery{
  margin-left: 33%;
}

#queryTicketsForm{
  margin-left: 20%;
  margin-right: 20%;
}

#testingDiv{
  text-align: center;
}

.mar {
  padding-left: 20px;
}

input:focus {
  background-color: coral;
}

input[type=text] {
  width: 150px;
  -webkit-transition: width .35s ease-in-out;
  transition: width .35s ease-in-out;
}
input[type=text]:focus {
  width: 250px;
}
